.history-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}
.history-item {
  border-bottom: 1px solid #0000001a;
  display: flex;
  flex-direction: column;
  padding: 7px;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.history-item:hover {
  background-color: #0000001a;
  padding: 7px 12px;
}

.history-item__text {
}

.history-item__amount {
}
